@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Our commitment is to safeguard your privacy while providing you with a seamless experience on our web application. Below, we outline our practices regarding the collection, use, and protection of your personal data.</p>

<h2>Information Collection and Use:</h2>
<p>We collect personal information that you voluntarily provide to us when using our web application. This may include but is not limited to your name, email address, and any other information you choose to share with us. We use this information solely for the purpose of enhancing your experience and providing the services you request.</p>

<h2>Data Storage and Security:</h2>
<p>Your data is stored securely on our servers, protected by industry-standard security measures. We take all reasonable precautions to ensure the confidentiality and integrity of your personal information.</p>

<h2>Data Access and Control:</h2>
<p>You have the right to access, modify, or delete your personal data at any time. You can do this by accessing the relevant features within our web application. If you choose to delete your data, it will be removed completely from our servers.</p>

<h2>Third-party Disclosure:</h2>
<p>We do not sell, trade, or otherwise transfer your personal information to third parties without your consent, except as required by law or as necessary to provide you with the services you request.</p>

<h2>Policy Changes:</h2>
<p>We reserve the right to update or modify this privacy policy at any time. Any changes will be reflected on this page, and we encourage you to review this policy periodically for updates.</p>

<p>By using our web application, you consent to the terms outlined in this privacy policy. If you have any questions or concerns regarding our privacy practices, please contact us at <a href="mailto:x.storage.sup@gmail.com">x.storage.sup@gmail.com</a>.</p>

<p>Last Updated: 12.03.2024 12:20</p>

